---
layout: default
title : 首页
navbar_title: 首页
lang: zh
lang_switch_url: /
---
{% include widgets/profile_card.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% include widgets/skills_card.html %}

{% include widgets/home_highlights.html %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% if pubs.size > 0 %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> 代表性论文'
    %}
    {% endif %}
{% endif %}
